<h1>Details</h1>
<h2>Name: <%= item.name %></h2>
<p>Department: <%= item.department %></p>
<p>Phone Number: <%= item.phone %></p>
<p>Description: <%= item.description %></p>
<p>Address: <%= item.address.street %>, <%= item.address.city %></p>